*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    display: flex;
    height: 200vh;
    justify-content: center;
    align-items: start;
    width: 100vw;
    background-color: #2222;
    margin: 0 auto;
}
.contenedor {
    display: flex;
    height: 60%;
    width: 70%;
}