*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p,button{
    font-family: 'Gotham Light', sans-serif;

}
h3{
    font-family: 'Gotham Black', sans-serif;
}
@font-face {
    font-family: 'Gotham Black';
    src: url('./src/fonts/Gotham-Black 2.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Gotham Light';
    src: url('./src/fonts/Gotham-Light 2.otf') format('opentype');
  }
.container {
    display: flex;
    height: 200vh;
    background-color: #2222;
    justify-content: center;
    align-items: center;
    
}
@media (min-width: 428px) and (max-height: 926px) {
    .container{
      height: 100%;
    }
  }