/* Estilos para el contenedor de la galería */
.galeria {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16.5%, 1rem));
  grid-auto-rows: 25%;
  grid-gap: 5px;
  width: 100vw;
  height: 80vh;
  justify-items: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border-radius: 1rem;
}

/* Estilos para cada imagen */
.galeria .imagen {
  border-radius: 0.11rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
  position: relative; /* Esto permite posicionar la tarjeta en relación con la imagen */
}

/* Estilos para la imagen en sí */
.galeria .imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
/*   border-radius: 2rem; */
  transition: transform 1s ease-in-out; /* Esto crea una transición suave cuando la imagen se expande y se contrae */
}

/* Estilos para la imagen seleccionada */
.galeria .imagen.selected {
  grid-column: span 1; /* La imagen seleccionada abarcará 2 columnas */
  grid-row: span 2; /* La imagen seleccionada abarcará 2 filas */
  z-index: 1; /* La imagen seleccionada estará por encima de las demás */
  transition: transform 1s ease-in-out; /* Esto crea una transición suave cuando la imagen se expande y se contrae */
}

.galeria .imagen.selected img {
  transform: scale(1.2); /* Esto devuelve la imagen seleccionada a su tamaño original */
  transition: 1s;
}

/* Estilos para la tarjeta */
.card {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7); /* Fondo blanco con un poco de transparencia para el efecto de desenfoque */
  padding:  20px 0px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: none; /* Inicialmente, la tarjeta está oculta */
  flex-direction: column;
  justify-content: start;
  align-items: start;
  /* border-radius: 2rem; */ /* Bordes redondeados para el estilo iOS */
  backdrop-filter: blur(10px); /* Desenfoque del fondo para el estilo iOS */
  z-index: 2;
}

.galeria .imagen:hover .card {
  display: flex; /* La tarjeta se muestra cuando se pasa el cursor sobre la imagen */
  justify-content: center;
/*   align-items: center; */
}
.galeria .imagen:hover .card button{
/*   display: flex;  La tarjeta se muestra cuando se pasa el cursor sobre la imagen 
  justify-content: center; */
  align-items: center;
}
  
.card img {
  width: 100% !important;
  height: 70% !important;
  object-position: top;
  /* border-radius: 2rem 2rem 0rem 0rem; */
}


.card h3{
  font-size: 1rem;
  margin: 0;
  padding: 0 20px;
  color: #ff6347;
  text-align: center;
  text-shadow: #333;
  margin-bottom: 10px;
  font-weight: 600;
  text-transform: uppercase;
  z-index: 10;
}
.card p{
  font-size: 1rem;
  margin: 0;
  padding: 0 20px;
  color: #333;
  text-align: center;
  margin-bottom: 10px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: none;

} 

/* Estilos para el botón de cierre */
.card button {
  margin: 0 auto;
  padding: 5% 10%;
  background-color: #ff6347; /* Color fuerte para el botón */
  color: white;
  border: none;
  border-radius: 10px; /* Bordes redondeados para el estilo iOS */
  cursor: pointer;
  transition: background-color 0.3s ease;
  object-position: center;
}

.card button:hover {
  background-color: #ff4500; /* Cambia el color de fondo cuando se pasa el cursor sobre el botón */
}